# Ignore everything by default
*
!*/

# Only track bloom-flow project content
!.gitignore
!.github/
!Episode Engine Flight Manual/
!Episode Engine Flight Manual/**
!Tour_Audio/
!Tour_Audio/**
!README.md
!LICENSE
!RELEASE_NOTES.md
!RELEASE_NOTES_v10.0.3.md
!index.html
